<p>
  Please enter a value between {{FloorValue}} and {{CeilingValue}} <br>
  Should the sum exceed {{CeilingValue}} an error will be displayed.
</p>

<app-roman-numerals-dropdownlist [Data]="DDData"></app-roman-numerals-dropdownlist>

<app-roman-numerals-input-field [label] ="Field1Label"></app-roman-numerals-input-field>
<app-roman-numerals-input-field [label] ="Field2Label"></app-roman-numerals-input-field>
<app-roman-numerals-input-field [label] ="Field3Label" [readOnly] ="Field3ReadOnly"></app-roman-numerals-input-field>
