<p>
  Please enter a value between {{FloorValue}} and {{CeilingValue}} <br>
  Should the sum exceed {{CeilingValue}} an error will be displayed.
</p>

<app-roman-numerals-dropdownlist [Data] = "DDData" (newValueEvent)="getDDDataValue($event)"></app-roman-numerals-dropdownlist>

<app-roman-numerals-input-field [Value] = "Field1Value" [label] ="Field1Label" [invalid]= "Field1InvalidValue" [error]= "Field1ErrorMesage" (newValueEvent)="getField1Value($event)"></app-roman-numerals-input-field>
<app-roman-numerals-input-field [Value] = "Field2Value" [label] ="Field2Label" [invalid]= "Field2InvalidValue" [error]= "Field2ErrorMesage" (newValueEvent)="getField2Value($event)"></app-roman-numerals-input-field>
<app-roman-numerals-input-field [Value] = "Field3Value" [label] ="Field3Label" [invalid]= "Field3InvalidValue" [error]= "Field3ErrorMesage" [readOnly] ="Field3ReadOnly"></app-roman-numerals-input-field>


<button (click)="onSum()">Calculate</button>
